h1,
h2,
p {
    color: white;

}

.containerBanner {
    display: flex;
    flex-direction: row-reverse;
}
.initialMargin{
    margin-top: 100px;
}

.imagenBanner {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.infoItem {
    position: relative;
    align-self: self-end;
    margin-bottom: 10.5rem;
    bottom: 0;
}

.infoItem h2,
p {
    text-shadow: 1px 1px 2px black;
}

.container-image {
    position: relative;
    width: 100%;
}

.container-image img {
    width: 100%;
}

.container-image::after {
    content: "";
    width: 100%;
    /* El height controla el alto del degradado */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #141414, transparent);
}

.title {
    font-size: 2.5rem;
    margin: 0.5rem 0px;
}



.column {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.similarContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.similarItem {
    flex-grow: 1;
    flex-basis: 10%;
}

.similarPoster {
    height: 35vh;
    width: auto;
    max-width: 206.5px;
    transition: 400ms all ease;
}

.similarPoster:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.description {
    position: absolute;
    width: 140vh;
    z-index: 99;
    font-size: 23px;
    margin-bottom: 5rem;
}

.creditsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-height: 600px;
}

.creditsContainer p {
    flex: 1;
    /* otros estilos de p */
}

.creditsName {
    color: rgba(255, 255, 255, 0.7);
}

.genre {
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}



@media screen and (max-width: 850px) {
    .containerBanner {
        display: flow-root;
    }

    .infoItem {
        margin-bottom: 1rem;
    }

    .description {
        position: relative;
        width: auto;
        margin-bottom: 1rem;
    }

    .creditsContainer {
        width: 100%;
        max-height: fit-content;
    }

    .similarContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    }
}